<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="company">
    	<!--회사 등록 -->
    	<insert id="insert">
    	insert into company(
    	com_id,com_pw,com_name,com_post,com_addr1,com_addr2,
    	com_tel,com_bs,com_region,com_email
    	)
    	values(
    	#{comId},#{comPw},#{comName},#{comPost},#{comAddr1},#{comAddr2},
    	#{comTel},#{comBs},#{comRegion},#{comEmail}
    	)
    	</insert>
    	
    	<!-- 회사 삭제 -->
    	<delete id="delete">
    		delete company where com_id = #{comId}
    	</delete>
    </mapper>