<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="company">
    	<!--회사 등록 -->
    	<insert id="insert">
    	insert into company(
    	com_id,com_pw,com_name,com_post,com_addr1,com_addr2,
    	com_tel,com_bs,com_region,com_email
    	)
    	values(
    	#{comId},#{comPw},#{comName},#{comPost},#{comAddr1},#{comAddr2},
    	#{comTel},#{comBs},#{comRegion},#{comEmail}
    	)
    	</insert>
    	
    	<!-- 회사 삭제 -->
    	<delete id="delete">
    		delete company where com_id = #{comId}
    	</delete>
    	
    	<!-- 회사정보 수정 -->
    	<update id="update">
    		update company
    		set
    		com_pw = #{companyDto.comPw}, com_name = #{companyDto.comName},
    		com_post = #{companyDto.comPost}, com_addr1 = #{companyDto.comAddr1}, com_addr2 = #{companyDto.comAddr2},
    		com_tel = #{companyDto.comTel}, com_bs = #{companyDto.comBs},
    		com_region = #{companyDto.comRegion}, com_email = #{companyDto.comEmail}
    	</update>
    	
    	<!--  회사정보 상세 -->
    	<select id="find" resultType="companyDto">
    		select * from company where com_id = #{comId}
    	</select>
    	
    	<!-- 이미지 연결 -->
    	<insert id="connect">
    		insert into com_image(com_id,attach_no)
    		values(${comId},${attachNo})
    	</insert>
    	
    	<!-- 이미지 삭제 -->
    	<delete id="deleteImage">
    		delete com_image where com_id=${comId}
    	</delete>
    	
    	<!-- 이미지 찾기 -->
    	<select id="findImage" resultType="AttachDto">
    		select * from attach
    		where attach_no = (
    		 select attahc_no
    		 from com_image
    		 where com_id = #{comId}
    		)
    	</select>
    	
    	<!-- 페이지네이션 -->
    	<!-- 카운트 -->
    </mapper>